asdasdasd
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">

            <ul class="abc Clearfix">
                <li class=" col-md-6">
                    <a class="a" name="birinciSorununSecilenCevabıA" href="javascript:void(false);">
                        <span class="optionA">A) </span>
                        <span class="title">Talk on the phone</span>
                    </a>
                </li>
                <li class=" col-md-6">
                    <a class="b" name="birinciSorununSecilenCevabıB" href="javascript:void(false);">
                        <span class="optionB">B) </span>
                        <span class="title">Not even</span>
                    </a>
                </li>

                <li class=" col-md-6">
                    <a class="c" name="birinciSorununSecilenCevabıC" href="javascript:void(false);">
                        <span class="optionC">C) </span>
                        <span class="title">Non Person</span>
                    </a>
                </li>
                <li class=" col-md-6">
                    <a class="d" name="birinciSorununSecilenCevabıD" href="javascript:void(false);">
                        <span class="optionD">D) </span>
                        <span class="title">In Person</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>



    @*yukarıyı sil*@

    <ul class="abc Clearfix">
        <li>
            <a class="a" name="birinciSorununSecilenCevabıA" href="javascript:void(false);">
                <span class="optionA">A) </span>
                <span class="title">Talk on the phone</span>
            </a>
        </li>
        <li>
            <a class="b" name="birinciSorununSecilenCevabıB" href="javascript:void(false);">
                <span class="optionB">B) </span>
                <span class="title">Not even</span>
            </a>
        </li>
        <li>
            <a class="c" name="birinciSorununSecilenCevabıC" href="javascript:void(false);">
                <span class="optionC">C) </span>
                <span class="title">Non Person</span>
            </a>
        </li>
        <li>
            <a class="d" name="birinciSorununSecilenCevabıD" href="javascript:void(false);">
                <span class="optionD">D) </span>
                <span class="title">In Person</span>
            </a>
        </li>
    </ul>
    </br>

    <ul class="abc Clearfix">
        <li>
            <a class="a" name="ikinciSorununSecilenCevabıA" href="javascript:void(false);">
                <span class="optionA">A) </span>
                <span class="title">Talk on the phone</span>
            </a>
        </li>
        <li>
            <a class="b" name="ikinciSorununSecilenCevabıB" href="javascript:void(false);">
                <span class="optionB">B) </span>
                <span class="title">Not even</span>
            </a>
        </li>
        <li>
            <a class="c" name="ikinciSorununSecilenCevabıC" href="javascript:void(false);">
                <span class="optionC">C) </span>
                <span class="title">Non Person</span>
            </a>
        </li>
        <li>
            <a class="d" name="ikinciSorununSecilenCevabıD" href="javascript:void(false);">
                <span class="optionD">D) </span>
                <span class="title">In Person</span>
            </a>
        </li>
    </ul>
    </br>

    <ul class="abc Clearfix">
        <li>
            <a class="a" name="ucuncuSorununSecilenCevabıA" href="javascript:void(false);">
                <span class="optionA">A) </span>
                <span class="title">Talk on the phone</span>
            </a>
        </li>
        <li>
            <a class="b" name="ucuncuSorununSecilenCevabıB" href="javascript:void(false);">
                <span class="optionB">B) </span>
                <span class="title">Not even</span>
            </a>
        </li>
        <li>
            <a class="c" name="ucuncuSorununSecilenCevabıC" href="javascript:void(false);">
                <span class="optionC">C) </span>
                <span class="title">Non Person</span>
            </a>
        </li>
        <li>
            <a class="d" name="ucuncuSorununSecilenCevabıD" href="javascript:void(false);">
                <span class="optionD">D) </span>
                <span class="title">In Person</span>
            </a>
        </li>
    </ul>
    </br>

    <ul class="abc Clearfix">
        <li>
            <a class="a" name="dorduncuSorununSecilenCevabıA" href="javascript:void(false);">
                <span class="optionA">A) </span>
                <span class="title">Talk on the phone</span>
            </a>
        </li>
        <li>
            <a class="b" name="dorduncuSorununSecilenCevabıB" href="javascript:void(false);">
                <span class="optionB">B) </span>
                <span class="title">Not even</span>
            </a>
        </li>
        <li>
            <a class="c" name="dorduncuSorununSecilenCevabıC" href="javascript:void(false);">
                <span class="optionC">C) </span>
                <span class="title">Non Person</span>
            </a>
        </li>
        <li>
            <a class="d" name="dorduncuSorununSecilenCevabıD" href="javascript:void(false);">
                <span class="optionD">D) </span>
                <span class="title">In Person</span>
            </a>
        </li>
    </ul>
    </br>
    <button id="finishQuizId" onclick="finishQuizFunc()">Sınavı bitir</button>


    <style>
        a.selected {
            color: red;
        }
    </style>

    @*
        t = secilen <a>
    *@

    @section Scripts{
        <script>

        var cevaplarIcinArray = [];
        var commaSeparateIds = "";



        var selectedCount = 0;
        debugger;

        //$(".card-body .optionsHere button").click(function () {
        //    var t = $(this);
        //    var ul = t.closest('ul.abc');
        //    var selected = t.hasClass('selected');
        //    ul.find('li a').removeClass('selected');
        //    if (!selected)
        //        t.addClass('selected');
        //    alert(t.attr("name"));


        $(".abc li a").click(function () {
            var t = $(this);
            var ul = t.closest('ul.abc');
            var selected = t.hasClass('selected');
            ul.find('li a').removeClass('selected');
            if (!selected)
                t.addClass('selected');
            //alert(t.attr("name"));


            //$.each($(".selected"),
            //    function() {
            //        alert("1");
            //        cevaplarIcinArray.push($(this).attr("name"));
            //        debugger;

            //        //cevaplarIcinArray.push($(this).val());
            //    });


        });

        var myDivElement = $(".selected");

        debugger;

        $("#finishQuizId").click(function () {
            $.each($(".selected"),
                function () {
                    selectedCount++;
                    alert(selectedCount + ". veri eklendi");
                    cevaplarIcinArray.push($(this).attr("name"));
                    debugger;

                    //cevaplarIcinArray.push($(this).val());
                });
            commaSeparateIds = cevaplarIcinArray.toString();

            var data = { commaSeparateIdsInActionResult: commaSeparateIds};
            //var data = { objId: 1};

            $.ajax(
                {
                    type: "POST",
                    //url: "Home/QuizTrial",
                    url: '@Url.Action("QuizTrial", "Home")',
                    data: data,
                    //data: JSON.stringify({
                    //    commaSeparateIdsInActionResult: commaSeparateIds,
                    //    //instructorIdInActionResult: instructorIdInJquery
                    //}),
                    //contentType: "application/json",
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (data) {
                        //alertify.success("<span><font size='5'>✓</font></span>    Success");
                        //$(dropDownListForInstructor).prop("disabled", false);
                        //$(tableRadioButtons).css({ opacity: 1 });
                        //$(ballGreenForSaveRadioButtonCoursesId).removeClass("ballGreen1");
                        //$(buttonsaveRadioButtonCourses).prop("disabled", false);
                        //var assignedCoursesIdListInJquery = data.assignedCoursesIdListReturnedByJson;
                        //$.each($(assignedCoursesIdListInJquery), function (index, idInList) {
                        //});
                        debugger;
                        //alert("OK");
                    },
                    error: function (data) {
                        debugger;
                        //alert("Error");
                        //$(buttonsaveRadioButtonCourses).removeClass("ballGreen1");
                        //alertify.error("Bir şeyler ters gitti!");
                        //$(buttonsaveRadioButtonCourses).prop("disabled", false);
                    }
                });

        });


        //var idsOfRadioButtonsArray = [];
        //var commaSeparateIds = "";
        //var instructorIdInJquery = $(dropDownListForInstructor).children("option:selected").val();
        //$.each($("input[type='checkbox']:checked"), function () {
        //    idsOfRadioButtonsArray.push($(this).val());
        //});



        function createJsonFunc(basilanButton) {

            var goingDiv = $(basilanButton).parent("#goingDiv");

            $(goingDiv).append("<div id='ball1id' class='ball1'></div>");

            $(basilanButton).prop("disabled", true);
            setTimeout(function () {

                var doIWannaGoInJQuery;
                var gigIdFromButton = $(basilanButton).attr('data-gig-id');

                if (basilanButton.value == "Katılıyorum!") {
                    doIWannaGoInJQuery = false;
                }

                if (basilanButton.value == "Katıl") {
                    doIWannaGoInJQuery = true;
                }

                $.ajax(
                    {
                        type: "POST",
                        url: "Sample/CreateWithJson",
                        data: JSON.stringify({
                            //bu data kısmını server'a yolluyoruz. Server'ın beklediği parametreler solda yazılı (GigId, doIWannaGoInJQuery). Sağdakiler de html'den çektiğimiz değerler (firstMidName, lastName, enrollmentDate. Yani html'deki değereleri server'a değişkenler üzerinden yolluyoruz.
                            gigIdInActionResult: gigIdFromButton,
                            doIWannaGoInActionResult: doIWannaGoInJQuery
                        }),

                        contentType: "application/json",
                        //yukardaki contenttype ı yazmazsan çalışmayabilir

                        success: function (data) {

                            //json'dan dönen obje --> buradaki data'ya atanmış oldu.
                            //Bunu controller'dan dönen json objesi gibi kullanabilir, propertylerini çekebiliriz
                            //örneğin: data.resultOfGoing, data.kafadanAtmaText gibi...
                            //hatta kullanalım:

                            var datadakiVeri1 = data.resultOfGoing;
                            var datadakiVeri2 = data.kafadanAtmaText;
                            var datadakiVeri3 = data.success;
                            //debugger;

                            $(basilanButton).prop("disabled", false);

                            setTimeout(createJsonFunc, 1000); //güya işlem yapılıyor... Loading animasyonunu görmek için de bu delay'ı koymak gerekiyor. Real time app gibi yani...
                            $("#ball1id").remove(); //Loading animasyonunu delay bittikten sonra kaldırmış olduk.

                            if (data.resultOfGoing == true) {
                                $(basilanButton).text('Katılıyorum!');
                                $(basilanButton).attr("value", "Katılıyorum!");
                                $(basilanButton).addClass("gigHub-goingButtonActive");

                                var datadakiVeri1 = data.kafadanAtmaText;
                                var datadakiVeri3 = data.resultOfGoing;
                                debugger;
                            }

                            if (data.resultOfGoing == false) {
                                $(basilanButton).text('Katıl');
                                $(basilanButton).attr("value", "Katıl");
                                $(basilanButton).removeClass("gigHub-goingButtonActive");

                                var datadakiVeri1 = data.kafadanAtmaText;
                                var datadakiVeri3 = data.resultOfGoing;
                                debugger;
                            }
                        },

                        error: function (data) {
                            $(basilanButton).prop("disabled", false); // işlem fail olmuşsa butonu disable yapmanın bi mantığı yok, o yüzden disabled özelliğini burada iptal ettik.
                        }
                    });
            }, 1300);
        };


        </script>
    }
